/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 16px "Inter", "sans-serif";
}

html,
button {
  font-family: "Quicksand", "sans-serif";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}